* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start-screen {
  background-color: rgb(177, 51, 51);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.start-wrapper {
  padding: 10px;
  border-radius: 10px;
  margin-top: 40px;
  height: fit-content;
  background-color: rgb(130, 204, 238);
  width: fit-content;
  display: flex;
  flex-direction: column;

}
.start-btn {
  padding: 5px;
  font-size: 14pt;
  height: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  width: fit-content;
 
}

.start-title {
  color: black;
  text-align: center;
  font-size: 24pt;
  
}

.loading-wrapper {
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
  z-index: -20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 140px;
  width: fit-content;

}
.loading {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-img {
  width: 50%;
  margin: 0 auto;
}

.loading-text {
  font-size: 24pt;
  text-align: center;
}